*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: auto;
}

nav{
    background-color: rgb(7, 7, 63);
    padding: 20px 0;
}

nav button{
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.sidebar{
    width: 250px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scaleX(0);
    transition: 0.30s;
    transform-origin: left;
}

.sidebar.active{
    transform: scaleX(1);
}

.sidebar ul{
    text-align: center; 
    padding-top: 50px;
}

.sidebar ul li a{
    font-family: arial;
    font-size: 30px;
    text-decoration: none;
    color: gray;
    padding: 20px 0;
    display: block;
    border-bottom: 1px solid #000;
}